table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    color: #7b506fff;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ead7d1ff;
    border: 2px solid #dd99bbff;
    border-radius: 10px;
    overflow: hidden;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #dd99bbff;
}

table th {
    background-color: #dd99bbff;
    color: #1f1a38ff;
}


img.ItemImage {
    width: 250px;
    height: auto;
}

img.ItemImage:hover {
    transform: scale(1.1);
}

